@model HMS.Models.Employee

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderPartial("_NavBar");
}


@{
    Html.RenderPartial("_SideBar");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h4 class="page-title">Edit Employee</h4>
                </div>
            </div>

            <div class="col-lg-8 offset-lg-2">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName)
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName)
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DOB)
                            @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Address)
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Town)
                            @Html.EditorFor(model => model.Town, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Town, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Parish)
                            @Html.EditorFor(model => model.Parish, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Parish, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="col-sm-6">

                        <div class="form-group">

                            @Html.LabelFor(model => model.Gender)
                            <div class="col-sm-6">
                                @Html.RadioButtonFor(model => model.Gender, "Male")
                                Male
                                @Html.RadioButtonFor(model => model.Gender, "Female")
                                Female

                            </div>
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        </div>


                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Position)
                            @Html.DropDownListFor(m => m.Position, new SelectList(Enum.GetValues(typeof(Position))), "Select Position", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="m-t-20 text-center">
                <input type="submit" value="Save" class="btn btn-primary submit-btn" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
